* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-description: 'Roboto', sans-serif;
  --ff-subNheader: 'Staatliches', cursive;
  --ff-footer: 'Open Sans', sans-serif;

  --fc-description: hsl(274, 84%, 12%);
  --fc-footer: hsl(232, 17%, 35%);
  --fc-title: hsl(0, 0%, 100%);

  --bg-header: hsl(218, 17%, 62%);
  --bg-primary: hsl(233, 100%, 97%);
  --bg-title: hsl(275, 18%, 79%);
  --bg-h2: hsl(312, 91%, 96%);

  --fs-title: 4.0rem;
  --fs-subNdescription: clamp(1rem, 1px + 3vw, 2rem);
  --fs-pForDesktop: 2.4rem;
  --fs-footer: 1.4rem;

  font-size: 62.5%;
}

body {
  background-color: var(--bg-primary);
  text-align: center;
  align-items: center;
}

body::before {
  content: '';
  width: 100vw;
  height: 27.9rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-color: var(--bg-header);
}

.page {
  max-width: clamp(32rem, 1rem + 100vw, 250rem);
  margin: 0 auto;
}

header img {
  margin: 3.2rem 0;

  height: 13.7rem;

  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

header h1 {
  color: var(--fc-title);

  background-color: var(--bg-title);

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;

  font-weight: 400;
  font-family: var(--ff-subNheader);
  font-size: var(--fs-title);

  letter-spacing: 0.05em;
  line-height: 3.4rem;

  padding: 8px 0;
}

header p {
  margin: 4.3rem;

  line-height: 1.5rem;

  color: var(--fc-description);

  font-family: var(--ff-description);
  font-size: var(--fs-subNdescription);
}

footer p span {
  font-weight: 700;
}

main {
  display: grid;

  margin: 0 3.2rem 3.2rem;

  gap: 3.2rem;
}

#paleta2,
#picole2 {
  display: none;
}

.card {
  position: relative;
}

.card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  max-width: 85%;

  color: var(--fc-cards);

  font-family: var(--ff-subNheader);
  font-weight: 400;
  font-size: 2rem;

  background: var(--bg-h2);

  border-radius: 2rem;

  width: fit-content;
  padding: 1px 2.3rem;

  line-height: 3.4rem;
  letter-spacing: 0.05em;

  display: flex;
  flex-direction: column;

  animation: topdown 1500ms;
}

.card img {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;

  filter: brightness(0.7);

  transition: all 200ms;

  animation: backtop 700ms forwards;
}

.card:hover {
  transform: scale(1.1);
  opacity: 0.4;
}

footer p {
  font-family: var(--ff-footer);
  font-weight: 400;
  font-size: var(--fs-footer);
  line-height: 2.8rem;
  color: var(--fc-footer);
  margin-bottom: 4.1rem;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  color: var(--fc-footer);
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes backtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (min-width: 400px) {}

@media (min-width: 500px) {
  header p {
    line-height: 2rem;
    margin-inline: 9rem;
    font-size: var(--fs-subNdescription);
  }

  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "A B"
      "C D"
      "Z Z";
  }

  .card img {
    height: 20rem;
  }

  footer {
    grid-area: Z;
  }
}

@media (min-width: 630px) {
  #cards {
    grid-template-areas:
      "A B"
      "C B"
      "C D"
      "Z Z";
  }

  .card img {
    height: 100%;
  }

  #cards .card:nth-child(1) {
    grid-area: A;
  }

  #cards .card:nth-child(2) {
    grid-area: B;
  }

  #cards .card:nth-child(3) {
    grid-area: C;
  }

  #cards .card:nth-child(4) {
    grid-area: D;
  }
}

@media (min-width: 1024px) {
  .page {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  body::before {
    content: '';
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background-color: var(--bg-header);
  }

  header img {
    margin: 3.2rem 0;
  }

  header h1 {
    font-size: 4rem;
    padding: 2.1rem 7.1rem;
  }

  header p {
    margin: 3.2rem 5.1rem 0;
    font-size: 1.7rem;
    color: var(--fc-title);
    line-height: 2rem;
  }

  #cards,
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "A B E"
      "D B F"
      "D C F"
      "Z Z Z";
    margin: 6.4rem 8.1rem 3.8rem 9.8rem;
  }

  #cards .card:nth-child(5) {
    grid-area: E;
  }

  #cards .card:nth-child(6) {
    grid-area: F;
  }

  #paleta2,
  #picole2 {
    display: block;
  }

  .card h2 {
    display: none;
  }

  footer {
    margin: 0;
  }

  footer p {
    margin-top: 1.9rem;
    margin-bottom: 0;
  }
}